
/* Patterns.less
 * Repeatable UI elements outside the base styles provided from the scaffolding
 * ---------------------------------------------------------------------------- */
div.topbar {
  background-color: #222222;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#333333), to(#222222));
  background-image: -moz-linear-gradient(#333333, #222222);
  background-image: -ms-linear-gradient(#333333, #222222);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #222222));
  background-image: -webkit-linear-gradient(#333333, #222222);
  background-image: -o-linear-gradient(#333333, #222222);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  background-image: linear-gradient(#333333, #222222);
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  overflow: visible;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
div.topbar a {
  color: #bfbfbf;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
div.topbar ul li a:hover, div.topbar ul li.active a, div.topbar a.logo:hover {
  background-color: #333;
  background-color: rgba(255, 255, 255, 0.15);
  color: #ffffff;
  text-decoration: none;
}
div.topbar a.logo {
  float: left;
  display: block;
  padding: 8px 20px 12px;
  margin-left: -20px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
}
div.topbar a.logo img {
  float: left;
  margin-right: 6px;
}
div.topbar form {
  float: left;
  margin: 5px 0 0 0;
  position: relative;
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
div.topbar form input {
  background-color: #bfbfbf;
  background-color: rgba(255, 255, 255, 0.3);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: normal;
  font-weight: 13px;
  line-height: 1;
  width: 220px;
  padding: 4px 9px;
  color: #fff;
  color: rgba(255, 255, 255, 0.75);
  border: 1px solid #111;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.25);
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
div.topbar form input:-moz-placeholder {
  color: #e6e6e6;
}
div.topbar form input::-webkit-input-placeholder {
  color: #e6e6e6;
}
div.topbar form input:hover {
  background-color: #444;
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
}
div.topbar form input:focus, div.topbar form input.focused {
  outline: none;
  background-color: #fff;
  color: #404040;
  text-shadow: 0 1px 0 #fff;
  border: 0;
  padding: 5px 10px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}
div.topbar ul {
  display: block;
  float: left;
  margin: 0 10px 0 0;
  position: relative;
}
div.topbar ul.secondary-nav {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
div.topbar ul li {
  display: block;
  float: left;
  font-size: 13px;
}
div.topbar ul li a {
  display: block;
  float: none;
  padding: 10px 10px 11px;
  line-height: 19px;
  text-decoration: none;
}
div.topbar ul li a:hover {
  color: #fff;
  text-decoration: none;
}
div.topbar ul li.active a {
  background-color: #222;
  background-color: rgba(0, 0, 0, 0.5);
}
div.topbar ul.primary-nav li ul {
  left: 0;
}
div.topbar ul.secondary-nav li ul {
  right: 0;
}
div.topbar ul li.menu {
  position: relative;
}
div.topbar ul li.menu a.menu:after {
  width: 0px;
  height: 0px;
  display: inline-block;
  content: "&darr;";
  text-indent: -99999px;
  vertical-align: top;
  margin-top: 8px;
  margin-left: 4px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
  filter: alpha(opacity=50);
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
div.topbar ul li.menu.open a.menu, div.topbar ul li.menu.open a:hover {
  background-color: #00b4eb;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}
div.topbar ul li.menu.open ul {
  display: block;
}
div.topbar ul li.menu.open ul li a {
  background-color: transparent;
  font-weight: normal;
}
div.topbar ul li.menu.open ul li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}
div.topbar ul li.menu.open ul li.active a {
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: bold;
}
div.topbar ul li ul {
  background-color: #333;
  float: left;
  display: none;
  position: absolute;
  top: 40px;
  min-width: 160px;
  max-width: 220px;
  _width: 160px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  text-align: left;
  border: 0;
  zoom: 1;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
div.topbar ul li ul li {
  float: none;
  clear: both;
  display: block;
  background: none;
  font-size: 12px;
}
div.topbar ul li ul li a {
  display: block;
  padding: 6px 15px;
  clear: both;
  font-weight: normal;
  line-height: 19px;
  color: #bbb;
}
div.topbar ul li ul li a:hover {
  background-color: #333;
  background-color: rgba(255, 255, 255, 0.25);
  color: #fff;
}
div.topbar ul li ul li.divider {
  height: 1px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin: 5px 0;
}
div.topbar ul li ul li span {
  clear: both;
  display: block;
  background: rgba(0, 0, 0, 0.2);
  padding: 6px 15px;
  cursor: default;
  color: #808080;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
div.page-header {
  margin-bottom: 17px;
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
div.page-header h1 {
  margin-bottom: 8px;
}
div.alert-message {
  background-color: rgba(0, 0, 0, 0.15);
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.15)));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.15));
  background-image: -ms-linear-gradient(transparent, rgba(0, 0, 0, 0.15));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.15)));
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.15));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='transparent', endColorstr='rgba(0, 0, 0, 0.15)', GradientType=0)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='transparent', endColorstr='rgba(0, 0, 0, 0.15)', GradientType=0);
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.15));
  background-color: #e6e6e6;
  margin-bottom: 18px;
  padding: 8px 15px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
div.alert-message p {
  color: #fff;
  margin-bottom: 0;
}
div.alert-message p + p {
  margin-top: 5px;
}
div.alert-message.error {
  background-color: #e06359;
}
div.alert-message.warning {
  background-color: #ffd75a;
}
div.alert-message.success {
  background-color: #74c474;
}
div.alert-message.info {
  background-color: #30c0fb;
}
div.alert-message a.close {
  float: right;
  margin-top: -2px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  filter: alpha(opacity=50);
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
div.alert-message a.close:hover {
  text-decoration: none;
  filter: alpha(opacity=50);
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
div.block-message {
  margin-bottom: 18px;
  padding: 14px;
  color: #404040;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
div.block-message p {
  color: #404040;
  color: rgba(0, 0, 0, 0.8);
  margin-right: 30px;
  margin-bottom: 0;
}
div.block-message ul {
  margin-bottom: 0;
}
div.block-message strong {
  display: block;
}
div.block-message a.close {
  display: block;
  color: #404040;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
div.block-message.error {
  background: #f8dcda;
  border: 1px solid #f4c8c5;
}
div.block-message.warning {
  background: #fff0c0;
  border: 1px solid #ffe38d;
}
div.block-message.success {
  background: #dff1df;
  border: 1px solid #bbe2bb;
}
div.block-message.info {
  background: #c7eefe;
  border: 1px solid #ade6fe;
}
ul.tabs, ul.pills {
  margin: 0 0 20px;
  padding: 0;
  zoom: 1;
}
ul.tabs:before,
ul.pills:before,
ul.tabs:after,
ul.pills:after {
  display: table;
  content: "";
}
ul.tabs:after, ul.pills:after {
  clear: both;
}
ul.tabs li, ul.pills li {
  display: inline;
}
ul.tabs li a, ul.pills li a {
  float: left;
  width: auto;
}
ul.tabs {
  width: 100%;
  border-bottom: 1px solid #bfbfbf;
}
ul.tabs li a {
  margin-bottom: -1px;
  margin-right: 2px;
  padding: 0 15px;
  line-height: 35px;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
ul.tabs li a:hover {
  background-color: #e6e6e6;
  border-bottom: 1px solid #bfbfbf;
}
ul.tabs li.active a {
  background-color: #fff;
  padding: 0 14px;
  border: 1px solid #ccc;
  border-bottom: 0;
  color: #808080;
}
ul.pills li a {
  margin: 5px 3px 5px 0;
  padding: 0 15px;
  text-shadow: 0 1px 1px #fff;
  line-height: 30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
ul.pills li a:hover {
  background: #0050a3;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
ul.pills li.active a {
  background: #0069d6;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
div.pagination {
  height: 36px;
  margin: 18px 0;
}
div.pagination ul {
  float: left;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
div.pagination ul li {
  display: inline;
}
div.pagination ul li a {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  text-decoration: none;
}
div.pagination ul li a:hover, div.pagination ul li.active a {
  background-color: #c7eefe;
}
div.pagination ul li.disabled a, div.pagination ul li.disabled a:hover {
  background-color: none;
  color: #bfbfbf;
}
div.pagination ul li.next a, div.pagination ul li:last-child a {
  border: 0;
}
div.well {
  background: #f5f5f5;
  margin-bottom: 20px;
  padding: 19px;
  min-height: 20px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
div.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}
div.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2000;
  width: 560px;
  margin: -280px 0 0 -250px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding;
}
div.modal .modal-header {
  border-bottom: 1px solid #eee;
  padding: 5px 20px;
}
div.modal .modal-header a.close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #999;
  line-height: 10px;
  font-size: 18px;
}
div.modal .modal-body {
  padding: 20px;
}
div.modal .modal-footer {
  background-color: #f5f5f5;
  padding: 14px 20px 15px;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  zoom: 1;
}
div.modal .modal-footer:before, div.modal .modal-footer:after {
  display: table;
  content: "";
}
div.modal .modal-footer:after {
  clear: both;
}
div.modal .modal-footer .btn {
  float: right;
  margin-left: 10px;
}
div.twipsy {
  display: block;
  position: absolute;
  visibility: visible;
  padding: 5px;
  font-size: 11px;
  z-index: 1000;
  filter: alpha(opacity=80);
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
div.twipsy.above .twipsy-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000000;
}
div.twipsy.left .twipsy-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000000;
}
div.twipsy.below .twipsy-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000000;
}
div.twipsy.right .twipsy-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #000000;
}
div.twipsy .twipsy-inner {
  padding: 3px 8px;
  background-color: #000;
  color: white;
  text-align: center;
  max-width: 200px;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
div.twipsy .twipsy-arrow {
  position: absolute;
  width: 0;
  height: 0;
}
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 5px;
  display: none;
}
.popover.above .arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000000;
}
.popover.right .arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #000000;
}
.popover.below .arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000000;
}
.popover.left .arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000000;
}
.popover .arrow {
  position: absolute;
  width: 0;
  height: 0;
}
.popover .inner {
  background: rgba(0, 0, 0, 0.8);
  padding: 3px;
  overflow: hidden;
  width: 280px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}
.popover .title {
  background: #f5f5f5;
  padding: 9px 15px;
  line-height: 1;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  border-bottom: 1px solid #eee;
}
.popover .content {
  background-color: #ffffff;
  padding: 14px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding;
}
.popover .content p, .popover .content ul, .popover .content ol {
  margin-bottom: 0;
}

