/* =============================================================================
   Clearfix
   ========================================================================== */

.clearfix {
    *zoom: 1;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/* =============================================================================
   Containers
   ========================================================================== */

.center-block {
    display: block;
    margin: 0 auto;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.container-fluid {
    padding: 0 20px;
}

.container-fluid .sidebar {
    float: left;
    width: 220px;
}

.container-fluid .content {
    min-width: 700px;
    max-width: 1180px;
    margin-left: 240px;
}

.container,
.container-fluid {
    *zoom: 1;
}

.container:after,
.container-fluid:after {
    content: "";
    display: table;
    clear: both;
}


/* =============================================================================
   Grid
   ========================================================================== */

.row {
    *zoom: 1;
    /*margin: 0 -20px;*/
}

.row:after {
    display: table;
    clear: both;
    content: "";
}

.row .span1,
.row .span2,
.row .span3,
.row .span4,
.row .span5,
.row .span6,
.row .span7,
.row .span8,
.row .span9,
.row .span10,
.row .span11,
.row .span12,
.row .span13,
.row .span14,
.row .span15,
.row .span16 {
    float: left;
    margin-left: 20px;
}

.row .span1 { width: 40px; }
.row .span2 { width: 100px; }
.row .span3 { width: 160px; }
.row .span4 { width: 220px; }
.row .span5 { width: 280px; }
.row .span6 { width: 340px; }
.row .span7 { width: 400px; }
.row .span8 { width: 460px; }
.row .span9 { width: 520px; }
.row .span10 { width: 580px; }
.row .span11 { width: 640px; }
.row .span12 { width: 700px; }
.row .span13 { width: 760px; }
.row .span14 { width: 820px; }
.row .span15 { width: 880px; }
.row .span16 { width: 940px; }

/* drop all this if neg margin test is successful */
.row .span1:first-child,
.row .span2:first-child,
.row .span3:first-child,
.row .span4:first-child,
.row .span5:first-child,
.row .span6:first-child,
.row .span7:first-child,
.row .span8:first-child,
.row .span9:first-child,
.row .span10:first-child,
.row .span11:first-child,
.row .span12:first-child,
.row .span13:first-child,
.row .span14:first-child,
.row .span15:first-child,
.row .span16:first-child {
    margin-left: 0;
}

/* remove !important */
.row .offset1 { margin-left: 80px !important; }
.row .offset2 { margin-left: 140px !important; }
.row .offset3 { margin-left: 200px !important; }
.row .offset4 { margin-left: 260px !important; }
.row .offset5 { margin-left: 320px !important; }
.row .offset6 { margin-left: 380px !important; }
.row .offset7 { margin-left: 440px !important; }
.row .offset8 { margin-left: 500px !important; }
.row .offset9 { margin-left: 500px !important; }
.row .offset10 { margin-left: 620px !important; }
.row .offset11 { margin-left: 680px !important; }
.row .offset12 { margin-left: 740px !important; }

/* drop all this if neg margin test is successful */
.row .offset1:first-child { margin-left: 60px !important; }
.row .offset2:first-child { margin-left: 120px !important; }
.row .offset3:first-child { margin-left: 180px !important; }
.row .offset4:first-child { margin-left: 240px !important; }
.row .offset5:first-child { margin-left: 300px !important; }
.row .offset6:first-child { margin-left: 360px !important; }
.row .offset7:first-child { margin-left: 420px !important; }
.row .offset8:first-child { margin-left: 480px !important; }
.row .offset9:first-child { margin-left: 480px !important; }
.row .offset10:first-child { margin-left: 600px !important; }
.row .offset11:first-child { margin-left: 660px !important; }
.row .offset12:first-child { margin-left: 720px !important; }
